@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #efc0fe;
}
h1 {
  color: rgb(25, 45, 63);
  font-size: 300%;
  font-family: "Concert One", sans-serif;
  margin-top: 80%;
  margin-left: 5%;
  margin-bottom: 20%;
  width: 200%;
}

h2 {
  color: #017a79;
  font-size: 200%;
  font-family: "Concert One", sans-serif;
  margin-top: 0%;
  margin-left: 15%;
  margin-bottom: 15%;
  margin-right: 50%;
  width: 200%;
}

.memory-game {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.33% - 10px);
  margin: 5px;
  position: relative;
  border: #5c1559;
  border-radius: 5px;
  background: rgb(202, 202, 202);
  box-shadow: 5px 5px 5px rgba(54, 17, 138, 0.3);
}

.front-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.remove {
  display: none;
}
.btn {
  font-size: 115%;
  color: rgb(25, 45, 63);
  border-color: white;
  font-family: "Concert One", sans-serif;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 50%;
  margin-bottom: 7%;
  width: 200%;
  height: 7%;
}
.restart {
  font-size: 115%;
  position: relative;
  color: rgb(25, 45, 63);
  border-color: white;
  font-family: "Concert One", sans-serif;
  margin-top: 35%;
  margin-left: 46.5%;
  margin-bottom: 200%;
  width: 10%;
  height: auto;
}

.settings {
  width: 100%;
  height: 100%;
  margin-top: 0%;
  margin-left: 36%;
  margin-bottom: 0%;
  margin-right: 50%;
}

p {
  font-family: "Concert One", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 25px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#finaltime {
  font-family: "Concert One", sans-serif;
  position: relative;
  top: 50%;
  left: 0.5%;
  right: 0%;
  font-size: 25px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.829); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
}



 

